<!DOCTYPE html>
<html>
<head>
	<title>UoS Skydive</title>

	<!-- JQuery -->
	<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>

	<!-- Semantic UI -->
	<script type="text/javascript" src="/lib/semantic/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/lib/semantic/icon.min.css">
	<link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">

	<!-- User -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted blue menu">
		<div class="ui container">
			<div class="header item"><i class="plane icon"></i>UoS Skydive</div>
			<a href="/" class="item">Home</a>
			<a href="/rigs" class="item">Rig booking</a>
			<a href="" class="item">Calendar</a>
			<a href="/users" class="item">Users</a>

			<div class="right item">
				<% if(!currentUser) { %>
					<a href="/login" class="item">Log in</a>
					<a href="/register" class="item">Sign up</a>
				<% } else { %>
					<a href="">Signed in as <strong><%= currentUser.forename + " " + currentUser.surname %></strong></a>
					<a href="/logout" class="item">Log out</a>
				<% } %>
			</div>
		</div>
	</div>

<div class="ui main text container segment">
	<% if(message.error && message.error.length) { %>
		<div class="ui error message"><%= message.error %></div>
	<% } %>
	<% if(message.success && message.success.length) { %>
		<div class="ui positive message"><%= message.success %></div>
	<% } %>
	<% if(message.info && message.info.length) { %>
		<div class="ui info message"><%= message.info %></div>
	<% } %>