<% include ./partials/header %>

<div class="ui huge header"><i class="sign in icon"></i> Log in</div>

<div class="ui segment">
	<form action="/login" method="POST" class="ui form">
		<div class="field required">
			<label>Email</label>
			<input type="text" name="username" placeholder="Email"
			<% if(username) { %> value="<%= username %>"<% } %> autofocus>
		</div>
		<div class="field required">
			<label>Password</label>
			<input type="password" name="password" placeholder="********">
		</div>	
		
		<button class="ui fluid blue big button">Log in</button>
	</form>
</div>

<a href="/" class="ui blue inverted button">Go back</a>

<% include ./partials/footer %>