<% include ../partials/header %>

<header class="ui huge header">Add a new rig</header>

<div class="ui segment">
	<form action="/rigs" method="POST" class="ui form">
		<div class="field required">
			<label>Rig name</label>
			<input type="text" name="name" placeholder="Rig name" autofocus>
		</div>
		<div class="field">
			<label>Main canopy manufacturer</label>
			<input type="text" name="main[make]" placeholder="Main canopy make">
		</div>
		<div class="field">
			<label>Main canopy model</label>
			<input type="text" name="main[model]" placeholder="Main canopy model">
		</div>
		<div class="field">
			<label>Main canopy size (ft<sup>2</sup>)</label>
			<input type="text" name="main[size]" placeholder="Main canopy size">
		</div>
		<div class="field">
			<label>Reserve canopy manufacturer</label>
			<input type="text" name="reserve[make]" placeholder="Reserve canopy make">
		</div>
		<div class="field">
			<label>Reserve canopy model</label>
			<input type="text" name="reserve[model]" placeholder="Reserve canopy model">
		</div>
		<div class="field">
			<label>Reserve canopy size (ft<sup>2</sup>)</label>
			<input type="text" name="reserve[size]" placeholder="Reserve canopy size">
		</div>
		<button type="submit" class="ui fluid blue big button">Add</button>
	</form>
</div>

<a href="/rigs" class="ui blue inverted button">Go back</a>

<% include ../partials/footer %>