<% include ./partials/header %>

<div class="ui huge header">Log in</div>

<form action="/login" method="POST" class="ui form">
	<div class="field required">
		<label>Email</label>
		<input type="text" name="username" placeholder="<%= user != undefined ? user.username : Email %>" autofocus>
	</div>
	<div class="field required">
		<label>Password</label>
		<input type="password" name="password" placeholder="********">
	</div>	
	
	<button class="ui fluid blue big button">Log in</button>
</form>
<a href="/" class="">Go back</a>

<% include ./partials/footer %>