<% include partials/header %>

<h1> - Weather page - </h1>
<br>

<div class="jumbotron">
	<h1>Sunset time for Southampton is <strong><%= sunsetTime %></strong></h1>
</div>

<% include partials/footer %>