<% include ./partials/header %>

<h1> - Weather page - </h1>
<br>

<h1>Sunset time for Southampton is <strong><%= sunsetTime %></strong></h1>

https://www.metoffice.gov.uk/datapoint

<% include ./partials/footer %>